@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "BlackHanSans";
  src: url("../src/font/BlackHanSans-Regular.ttf");
}

@font-face {
  font-family: "SCDream";
  src: url("../src/font/SCDream5.otf");
}